/* root{
--bg-color:# ;
--primary-color:# ;
--secondary-color:# ;
--third-color:# ;
--third-bis-color:# ;
--bg-input-color:# ;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    list-style: none;
}

body{
    background-color: var(--bg-color);
}

/* Estilos para la barra de navegación */
.header{
    background-color:#219ebc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
}

.header .logo img{
    height: 60px;
}

.header .nav-links{
    list-style: none;
    text-align: center; 
}

.header .nav-links li{
    display:inline-block;
    padding: 0 60px;
    font-size: 18px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 600;
    color: #fff;
    display: block;
    text-decoration: none;
}

.header .nav-links a:hover{
    color: #000;
}

/* Estilos para el slider con imágenes */
.texto{
    position: absolute;
    text-align: center;
    padding: 0 300px;
    top: 250px;
    color: #fff;
}
.slider-frame{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    max-width: 100%;
}

@keyframes slide{
    0% {margin-left:0%;}
    20% {margin-left:0%;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    95% {margin-left:-300%;}
}

