:root{
--main-white:#f0f4f7 ;
--text-color:#292123;
--primary-color:#254c5d ;
--secondary-color:#a2c7b9 ;
--third-color:#238a99 ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    list-style: none;
    color: var(--text-color);
}

body{
    background-color: var(--main-white);
}

h1 {
    color: var(--main-white);
    font-size: 2em;
}

h2{
    text-align: center;
    margin: 20px;
    font-size: 2.3vw;
}
/* Estilos para la barra de navegación */
.header{
    background-color:var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
}

.logo img{
    height: 60px;
}

.nav-links{
    list-style: none;
    text-align: center; 
}

.nav-links li{
    display:inline-block;
    padding: 0 60px;
    font-size: 18px;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 600;
    color: #fff;
    display: block;
    text-decoration: none;
}

.nav-links a:hover{
    color: #000;
}

/* Estilos para el slider con imágenes */
.titulo{
    color: #000;
}
.texto{
    position: absolute;
    text-align: center;
    padding: 0 300px;
    top: 250px;
}
.slider-frame{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    max-width: 100%;
}

@keyframes slide{
    0% {margin-left:0%;}
    20% {margin-left:0%;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    95% {margin-left:-300%;}
}

/** ESTILOS PARA ALOJAMIENTO */
/* estilos para el banner de alojamiento */

.title-container {
    position: relative;
    transform: translate(0px,0px);
}

.title-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.bottomleft {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 2em;
}

/* estilos del selector de alojamientos */

#alojamientos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0px;
}

#alojamientos li {
    padding: 10px;
    margin: 15px;
    background-color: var(--secondary-color);
    border-radius: 9em;
    padding: 1em 1.5em;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#alojamientos li.active, #alojamientos li:hover {
    background-color: var(--main-white);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15),0 17px 50px 0 rgba(0,0,0,0.10);
}

/* estilos de la grilla de alojamientos */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px 30px;
    justify-items: center;
    align-items: center;
    margin: 25px;
}

.grid-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 300px;
    min-height: 500px;
    background-color: #fff;
}

.grid-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.datos-alojamiento {
    padding: 22px;
    word-break: break-all;
}

.datos-alojamiento i {
    color: var(--primary-color);
    padding-right: 5px;
}

.datos-alojamiento h3 {
    margin: 15px 0px;
}

h3 a {
    color: var(--primary-color);
}

h3 a:hover {
    color: var(--third-color);
}

/** estilos footer */
.footer {
    background-color: var(--primary-color);
    padding: 50px 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: var(--main-white);
}

.footer p i {
    color: var(--main-white);
}

.footer-title {
    font-size: larger;
    font-weight: 600;
    margin: 10px 0px;
}

/* footer redes */
.redes-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.sns {
    height: 25px;
    width: 25px;
    border-radius: 50% ;
    background-color: var(--main-white);
    border: 2px solid var(--main-white);
    box-shadow: inset 0 0 0 2px #e3e6e9;
}

.sns:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(224, 222, 223, 0.30);
    transition: 0.3s;
    cursor: pointer;
    border: var(--secondary-color);
    background-color: var(--secondary-color);
}

.sns a {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    top: 1px;
    left: 1px
}

/* footer sitios */

.links-sitios {
    padding-left: 1.25em;
}

.links-sitios a:any-link {
    color: var(--main-white);
}

.links-sitios a:hover{
    color: var(--secondary-color);
}

/** ESTILOS PARA CONTACTO */

#form-container{
    margin: 10px;
    padding: 4vh 8vw;
}

.form-container-flex{
    display: flex;
    justify-content: center;
}

.col {
    width: 50%;
    padding: 3vw ;
}

.label {
    display: block;
    cursor: pointer;
    font-weight: 500;
    padding: 20px 0px 5px;
}

.form-input {
    display: block;
    margin: 5px 0px;
    padding: 1em;
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    transition: 0.3s;
}

.form-input:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.form-input:focus {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 8px 16px 0 rgba(100, 200, 140,0.2);
}

#radio-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#checkbox-captcha {
    margin-left: 5px;
}

textarea {
    resize: none;
}

.input-error {
    font-size: 14px;
    display: none;
    margin-bottom: 15px;
}

.input-error-activo {
    display: block;
} 

#form-error-message {
    width: 100%;
    text-align: center;
    background-color: #993223;
    margin: 20px 2em;
    padding: 20px;
}

.form-btn {
    margin: 0px 20px;
    padding: 1em 3em;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15),0 17px 50px 0 rgba(0,0,0,0.10);
    background-color: var(--main-white);
    transition: 0.5s;
}

/* validaciones formulario */

.col input:valid {
    background-image: url(../img/check-icon.png);
    background-position: right center; 
    background-repeat: no-repeat;
    background-size: 30px;
}

/* sacar las arrows del imput number */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */